html,
body,
ul,
li {
    margin: 0; padding: 0;
}

body {
    background: #1B1B1B; 
    font: normal 24px/32px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    color: #fff; 

}

#logo {
    margin: 20px;
}

#viewport {
    width: 100%; height: 640px; background: #000000; border: 10px solid #000000; margin: 0 auto 0; position: relative;
}

#viewport .stack {
    width: 400px; 
    height: 600px; 
    background: #1B1B1B; ; 
    position: absolute; 
    top: 30px; 
    left: 40%; 
    margin-left: -100px; 
    border-radius: 10px;
}

#viewport li {
    width: 400px; 
    height: 600px; 
    list-style: none; 
    background: #fff; 
    border-radius: 5px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2); 
    border: 10px solid #ECECEC; 
    box-sizing: border-box; 
    cursor: default;
}

.swiperight {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    top: 220px;
    left: 70px;
    right: 70px;
    bottom: 220px;
    position: absolute; 
    text-align: center; 
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);;
    border-radius: 20px;
    padding: 10px; 
    display: none;
}

.swipeleft {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    top: 220px;
    left: 70px;
    right: 70px;
    bottom: 220px;
    position: absolute; 
    text-align: center; 
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255,0, 0);;
    border-radius: 20px;
    padding: 10px; 
    display:none;
}

.cardinfo {
    position: absolute; 
    left: 10px;
    bottom: 10px;
    text-shadow: 3px 3px #000000;
    text-align: left; 
}
.cardinfo h2{
    color: #f7971e;
}

#viewport li.in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport li.in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}

#source {
    width: 500px; margin: 20px auto;
    color: #FFFFFF;
    text-align: center;
    
}

#source a {
    color: #C7433E;
}

.social_container {
    float: right;
}

.social_container a {
    text-decoration: none !important;
}

.social_image {
    height: 40px;
    margin: 8px;
}

.resetButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7971e), color-stop(1, #f2ab1e));
	background:-moz-linear-gradient(top, #f7971e 5%, #f2ab1e 100%);
	background:-webkit-linear-gradient(top, #f7971e 5%, #f2ab1e 100%);
	background:-o-linear-gradient(top, #f7971e 5%, #f2ab1e 100%);
	background:-ms-linear-gradient(top, #f7971e 5%, #f2ab1e 100%);
	background:linear-gradient(to bottom, #f7971e 5%, #f2ab1e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7971e', endColorstr='#f2ab1e',GradientType=0);
	background-color:#f7971e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.resetButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f7971e));
	background:-moz-linear-gradient(top, #f2ab1e 5%, #f7971e 100%);
	background:-webkit-linear-gradient(top, #f2ab1e 5%, #f7971e 100%);
	background:-o-linear-gradient(top, #f2ab1e 5%, #f7971e 100%);
	background:-ms-linear-gradient(top, #f2ab1e 5%, #f7971e 100%);
	background:linear-gradient(to bottom, #f2ab1e 5%, #f7971e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f7971e',GradientType=0);
	background-color:#f2ab1e;
}
.resetButton:active {
	position:relative;
	top:1px;
}

.iOSOnly {
    display: none;
}